$hoverColor: #525362;
$selectColor: #f05b41;
$textColor: #fff;
$menuHeight: 60px;
$padding: 50px;

.dx-menu-item-content {
    padding: 0;
}

::ng-deep {
    .dx-context-menu-container-border {
        border: none;
    }
    .dx-context-menu-content-delimiter {
        background-color: transparent;
    }
    .dx-submenu {
        .menu-item {
            width: 286px;
        }
        .dx-menu-item-wrapper {
            border-bottom: 1px solid rgba(0,0,0,.18);
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.menu-item {
    height: $menuHeight;
    line-height: $menuHeight;
    font-size: 16px;
    padding: 0 20px;
    display: block;
    text-decoration: none;
    &.selected {
        background-color: #fef4e7;
    }
}

a.menu-item, a:active.menu-item, a:visited.menu-item {
    color: #333;
}

.header-container {
    background-color: #343547;
    .content {
        min-width: 900px - 2*$padding;
        max-width: 1200px;
        padding: 0 $padding;
        margin: 0 auto;
        height: $menuHeight;
        color: $textColor;

        .logo {
            width: 200px;
            height: 14px;
            margin-top: 24px;
            display: block;
            float: left;
            background: url(/assets/images/logo.png) no-repeat;
            background-position-x: 1px;
        }

        nav {
            float: right;
            height: 100%;

            .help {
                float: left;
                padding: 14px;
                cursor: pointer;

                .info-link {
                    border: 1px solid $textColor;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 15px;
                    line-height: 30px;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    &::selection {
                        background-color: transparent;
                        color: #fff;
                    }
                }

                &:hover {
                    background-color: $hoverColor;
                }
            }

            .top-menu {
                
                float: left;

                .menu-item {
                    color: $textColor;

                    &.selected {
                        background-color: $selectColor;
                    }
                }

                .dx-menu-horizontal {
                    height: 100%;
                }

                ::ng-deep .dx-menu-item {
                    &.dx-state-hover {
                        background-color: $hoverColor;
                    }

                    &.dx-menu-item-expanded {
                        background-color: $hoverColor;
                    }

                    &.dx-menu-item-has-submenu {
                        width: 290px;
                        text-align: right;

                        &:after {
                            content: ' ';
                            display: block;
                            width: 10px;
                            height: 10px;
                            background-image: url(/assets/images/down.png);
                            position: absolute;
                            top: 26px;
                            right: 20px;
                        }

                        .menu-item {
                            padding-right: 46px;
                        }
                    }
                }
            }
        }
    }
}
