<div class="header-container">
    <div class="content">
        <a class="logo" href="/"></a>
        <nav>
            <dx-menu class="top-menu"
                cssClass="top-menu"
                [activeStateEnabled]="false"
                [height]="60"
                [dataSource]="menuRoutes"
                itemsExpr="children"
                showFirstSubmenuMode="onHover"
                selectionMode="none"
            >
                <div *dxTemplate="let i of 'item'">
                    <a *ngIf="i.data" routerLink={{i.data.link}} routerLinkActive="selected" class="menu-item">{{i.data.title}}</a>
                </div>
            </dx-menu>
            <div class="help">
                <span class="info-link" (click)="popup.show()">?</span>
                <app-help-popup #popup></app-help-popup>
            </div>
        </nav>
    </div>
</div>
