h5 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    color: #252525;

    &.support {
        margin-top: 80px;
    }
}

.plant-description {
    font-size: 14px;
    color: gray;
}
