.container {
    position: relative;
    height: 90px;
    overflow: hidden;

    .left-arrow, .right-arrow {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 30px;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center center; 
        cursor: pointer;
        &.disabled {
            cursor: default;
            opacity: 0.25;
        }
    }

    .left-arrow {
        background-image: url(/assets/images/prev.png);
    }

    .right-arrow {
        background-image: url(/assets/images/next.png);
        right: 0;
    }
}
