.switcher {
    padding-top: 13px;
    float: right;
    padding-right: 1px;
}

.chart {
    margin-left: -45px;
}

.caption {
    padding-bottom: 2px;
    font-weight: 400;
    font-size: 14px;
    color: #808080;
}
