a {
    text-decoration: none;
}

.button {
    cursor: pointer;
    padding: 3px 20px;
    border: none;
    border-radius: 0;
    float: right;
    margin-left: 10px;
    user-select: none;
}

.popup-content {
    padding: 20px;


    .popup-title {
        font-family: 'Open Sans Condensed','HelveticaNeue-CondensedBold',Helvetica,'Arial Narrow',Calibri,Arial,'Lucida Grande',sans-serif;
        font-size: 18px;
        margin-top: 20px;
        text-decoration: none;
        margin: 0 0 30px 0;
    }

    .popup-text {
        p {
            margin: 10px 0;
        }
    }
}
