.header {
    margin: 30px auto 15px auto;
    height: 40px;
    min-width: 800px;
    max-width: 1202px;
    padding: 0 49px;
    position: relative;

    h3 {
        line-height: 32px;
        font-weight: 400;
        font-size: 20px;
    }

    .legend {
        position: absolute;
        right: 50px;
        top: 7px;
    }
}
