<div class="sales-by-range">
    <div class="doughnut-container">
        <dx-pie-chart
            type="doughnut"
            [innerRadius]="0.62"
            [dataSource]="pieDataSource"
            [minDiameter]="0.7"
            centerTemplate="centerTemplate"
        >
            <dxo-loading-indicator text=""></dxo-loading-indicator>
            <dxo-legend [visible]="false"></dxo-legend>
            <dxi-series argumentField="Criteria" valueField="Sales">
                <dxo-label [visible]="true" backgroundColor="transparent" [radialOffset]="-15" [customizeText]="customizeLabel">
                    <dxo-font [size]="12" color="#909090"></dxo-font>
                    <dxo-connector [visible]="false" [width]="0"></dxo-connector>
                </dxo-label>
            </dxi-series>
            <svg *dxTemplate="let pieChart of 'centerTemplate'">
                <text text-anchor="middle" style="font-size: 14px" x="100" y="120" [attr.fill]="pieChartCenterColor" opacity="0.6">
                    <tspan x="100">{{category}} SALES</tspan>
                    <tspan x="100" dy="20px">BY RANGE</tspan>
                </text>
            </svg>
        </dx-pie-chart>
    </div>
    <div class="bar-container">
        <div class="year">{{year}}</div>
        <div class="title">{{category}} SALES BY RANGE</div>
        <dx-chart
            [rotated]="true"
            [dataSource]="barDataSource"
        >
            <dxo-argument-axis [placeholderSize]="40" [visible]="false">
                <dxo-label [visible]="false"></dxo-label>
                <dxo-tick [visible]="false"></dxo-tick>
            </dxo-argument-axis>
            <dxi-value-axis [valueMarginsEnabled]="false" [axisDivisionFactor]="80" [placeholderSize]="30" [visible]="false">
                <dxo-label [indentFromAxis]="5">
                    <dxo-format type="currency millions"></dxo-format>
                    <dxo-font [opacity]="0.6"></dxo-font>
                </dxo-label>
                <dxo-tick [visible]="false"></dxo-tick>
            </dxi-value-axis>
            <dxo-common-series-settings argumentField="Criteria" valueField="Sales" ignoreEmptyPoints="true" type="bar">
                <dxo-hover-style>
                    <dxo-hatching [opacity]="0"></dxo-hatching>
                </dxo-hover-style>
            </dxo-common-series-settings>
            <dxo-series-template nameField="Criteria"></dxo-series-template>
            <dxo-legend [visible]="false"></dxo-legend>
            <dxo-tooltip [enabled]="true" color="#fff" [paddingTopBottom]="8" [customizeTooltip]="customizeTooltip">
                <dxo-font [opacity]="1" size="22"></dxo-font>
                <dxo-shadow color="#000" [opacity]="0.15" [blur]="0" [offsetX]="3" [offsetY]="3"></dxo-shadow>
            </dxo-tooltip>
        </dx-chart>
    </div>
</div>
<div class="range-selector">
    <app-rangeselector (onChange)="rangeChanged($event)" [shutterColor]="shutterColor"></app-rangeselector>
</div>
