<div>
    <dx-pie-chart
        [dataSource]="dataSource"
        type="doughnut"
        sizeGroup="products-chart"
        [innerRadius]="0.62"
        centerTemplate="centerTemplate"
    >
        <dxi-series argumentField="Criteria" valueField="Sales">
            <dxo-hover-style>
                <dxo-hatching [opacity]="0" [step]="6" [width]="2"></dxo-hatching>
            </dxo-hover-style>
        </dxi-series>
        <dxo-legend
            verticalAlignment="bottom"
            horizontalAlignment="center"
            itemTextPosition="right"
            [rowItemSpacing]="5"
            [columnCount]="2"
            [rowCount]="3"
            orientation="vertical"
            [paddingLeftRight]="0"
            [paddingTopBottom]="0"
        >
            <dxo-font [size]="12" [opacity]="0.6"></dxo-font>
        </dxo-legend>
        <dxo-tooltip [enabled]="true" color="#fff" [paddingTopBottom]="10" [customizeTooltip]="customizeTooltip">
            <dxo-border [visible]="false"></dxo-border>
            <dxo-font color="#252525" [opacity]="1" [size]="18"></dxo-font>
            <dxo-shadow [opacity]="0.15" [blur]="0" color="#000" [offsetX]="3" [offsetY]="3"></dxo-shadow>
        </dxo-tooltip>
        <dxo-size [height]="310"></dxo-size>
        <svg *dxTemplate="let pieChart of 'centerTemplate'">
            <text text-anchor="middle" style="font-size: 14px" x="100" y="120" [attr.fill]="pieChartCenterColor" opacity="0.6">
                <tspan x="100">REVENUES</tspan>
                <tspan x="100" dy="20px">BY {{ category | uppercase }}</tspan>
            </text>
        </svg>
    </dx-pie-chart>
</div>
