:host {
    max-width: 240px;
    width: 30%;
    position: relative;
}

.pie-content {
    position: absolute;
    top: 32%;
    width: 40%;
    left: 30%;
    font-size: 14px;
    opacity: 0.6;
    text-align: center;
}
