.range-selector {
    height: 90px;
    padding: 10px 16px 30px 16px;
    margin: 0 auto;
    max-width: 1270px;
    min-width: 960px;
}

.data-grid {
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    margin-bottom: 70px;
    height: 568px;

    .bullet-container {
        margin: -7px;
    }
}
